@import '../../styles/colors';
@import '../../styles/typography';

.meetupsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 100%;
}

.tabs {
  width: 100%;
  margin: auto;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.threeTabs {
  div:first-child {
    flex: 1;
  }
  div:last-child {
    flex: 2;
  }
}

.fourTabs {
  div:first-child {
    flex: 1;
  }
  div:last-child {
    flex: 1;
  }
}

.tabList {
  display: flex;
  margin: auto;
  width: 100%;
  list-style: none;
  margin-bottom: 36px;
  div {
    display: flex;
    width: 100%;
  }
}

.tabItem {
  width: 100%;

  outline: none !important;
  padding: 0px 0px 16px 0px;
  border-bottom: 1px solid $grey-300;

  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 19px;
  color: $grey-600;
  transition: 0.2s all;
  cursor: pointer;
}

.selectedTabItem {
  outline: none !important;
  padding: 0px 0px 15px 0px;
  border-bottom: 2px solid $primary-purple;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $grey-800;
}

@media (max-width: 560px) {
  .tabList {
    flex-direction: column;
    div:first-child {
      margin: 0 0 15px 0;
    }
  }
}
