@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

.block {
    background-color: $white;
    box-shadow: 0px 4px 7px rgba(215, 221, 232, 0.398055);
    border-radius: 5px;
}

.caption {
    @extend .inputName;
    margin-top: 7px;
    margin-bottom: 10px;
}

.title {
    @extend .block;
    @extend .additionalH2;
    padding: 26px 29px 30px 24px;
}

.author {
    @extend .block;
    @extend .pageLink_active;
    color: $grey-800;
    padding: 15px 16px 17px 23px;
    margin-top: 5px;
    margin-bottom: 19px;
}

.excerpt {
    @extend .block;
    @extend .pageLink;
    color: $grey-800;
    padding: 22px 63px 18px 23px;
    margin-top: 5px;
    margin-bottom: 19px;
}

.votedUsers {
    @extend .block;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 26px;
    padding: 17px 23px 15px 17px;
}

.customUserAvatar {
    width: 40px;
    height: 40px;
    background: $primary-purple;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $white;
    cursor: default;
}

.buttons {
    @extend .block;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    padding: 16px 24px;
    display: flex;
    justify-content: center;
}

.deleteButton {
    margin-right: 9px;
}

.mainButtons {
    margin: 0 0 0 auto;
}
