$primary-blue: #314ad7;
$primary-purple: #8065ec;
$primary-gradient: linear-gradient(63.5deg, #8065ec 16.63%, #314ad7 83.37%);

$white: #fff;

$grey-100: #f4f6fc;
$grey-200: #e2e7ef;
$grey-300: #d5dce7;
$grey-400: #c2cbda;
$grey-500: #aab6ca;
$grey-600: #848fa5;
$grey-700: #5b6887;
$grey-800: #3c4861;

$green-100: #80cbc4;
$green-200: #26a69a;

$red-100: #ffebe5;
$red-200: #ff380c;
$red-300: #ef2f00;

$light-green-100: #d6f7e9;
$light-green-200: #2bbc7e;
$light-green-300: #009a73;

$yellow-100: #fff6dc;
$yellow-200: #ffc121;
$yellow-300: #fb9700;
