@import 'colors';

%basic-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #3c4861;
}

%additional-header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #3c4861;
}

%page-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

// basic headers

.basicH1 {
    @extend %basic-header;
    font-size: 24px;
}

.basicH2 {
    @extend %basic-header;
    font-size: 20px;
}

.basicH3 {
    @extend %basic-header;
    font-size: 18px;
}

.basicH4 {
    @extend %basic-header;
    font-size: 16px;
}

// additional headers

.additionalH1 {
    @extend %additional-header;
    font-size: 24px;
}

.additionalH2 {
    @extend %additional-header;
    font-size: 20px;
}

.additionalH3 {
    @extend %additional-header;
    font-size: 18px;
}

.additionalH4 {
    @extend %additional-header;
    font-size: 16px;
}

// page link

.pageLink {
    @extend %page-link;
    font-weight: 400;
}

.pageLink_active {
    @extend %page-link;
    font-weight: 500;
}

// section link

.sectionLink {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

// paragraph

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.inputName {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $grey-500;
}

.inputLength {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: $grey-600;
}

.inputLengthMax {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: $grey-500;
}
